# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SaidasBasicas/nbproject/private/
/PDTInOut/nbproject/private/
/PDTInOut/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/TiposPrimEntSai/nbproject/private/
/TiposPrimEntSai/build/
/calcIdade/nbproject/private/
/calcIdade/build/
/TiposPrimEntSai_06/build/
/TiposPrimEntSai_06/nbproject/private/
/opAritm/nbproject/private/
/opAritm/build/
/Aula_06_opAritmSwing/nbproject/private/
/Aula_07_opAritmSwing/nbproject/private/
/Aula_07_opAritmSwing/build/
/Aula_07_opArimetIncrem/nbproject/private/
/Aula_07_opArimetIncrem/build/
/opAtrib/nbproject/private/
/opAtrib/build/
/classMath/nbproject/private/
/classMath/build/
/SuperCalc/nbproject/private/
/aula_07_SuperCalc/nbproject/private/
/aula_07_superCalc/nbproject/private/
/aula_07_superCalc/build/
/opLogRel/nbproject/private/
/opLogRel/build/
/advinha/nbproject/private/
/advinha/build/
/parImpar/nbproject/private/
/parImpar/build/
/delta/nbproject/private/
/delta/build/